* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.container {
  height: 400px;
  border: 2px solid red;
  display: flex;
  flex-direction: row; /*row row-reverse column column-reverse*/
  flex-wrap: wrap; /* nowrap, wrap, wrap-reverse*/
  /* gap: 10px; row-gap, column-gap */
  flex-flow: wrap row; /*shortcut of flex-wrap and flex-direction */
  justify-content: center; /*justify content on main axis*/
  /* space-around, space-between space-evenly flex-start flex-end center */
  /* align-items - arrange item based on cross axis */
  align-items: center;
  /* stretch center flex-start flex-end baseline */
  /* align-content: flex-start;  */
  /*manages space between rows*/
  /* flex-start flex-end center stretch space-between space-around */
}
.box {
  border: 2px solid green;
  /* margin: 10px; */
  /* margin-block: 10px; */
  /* margin-inline: 10px; */
  width: 100px;
  /* This defines the default size of an element before the remaining space is distributed. It can be a length (e.g. 20%, 5rem, etc.) or auto. */
  /* flex-basis: 20%; */
}
#box1 {
  /* larger the value will placed last default is 0 for all children */
  /* grow will takes blank space, default is 0 */
  /* flex-shrink: This defines the ability for a flex item to shrink if necessary. default 1, works with no-wrap in parent container */
  /* order: 1; */
  /* flex-grow: 1; */
}
#box3 {
  /* order: 2;
  flex-grow: 2; */
}

#box2 {
  /* flex-shrink: 1; */
}
#box4 {
  /* flex-shrink: 4; */
  /* This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third */
  /* flex: 0 0 200px; */
}

/* align-self: align itself around cross axis, diabled align-content from parent */

#box5 {
  align-self: flex-end;
}
